.ShortProfile-container {
  display: flex;
  flex-direction: row;
  width: 180px;
  .icon {
  }
  .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    .username {
      font-size: 16px;
      font-weight: bold;
      padding: 2px;
    }
    .balancePNK {
      padding: 2px;
      font-size: 14px;
      opacity: 0.66;
    }
  }
}

.dark {
  background-color: #273142;
  .description {
    .username {
      color: #fff;
    }
    .balancePNK {
      color: #fff;
    }
  }
}
