.Form-container {
  display: flex;
  flex-direction: column;
  label {
  	color: #77909d;
  	font-size: 16px;
  	font-weight: 600;
  	line-height: 19px;
  }
  .subLabel {
  	height: 17px;
  	width: 312px;
  	opacity: 0.5;
  	color: #7f8fa4;
  	font-size: 14px;
  	line-height: 17px;
  }
  .submit {
  	height: 40px;
  	width: 180px;
    border: none;
  	border-radius: 4px;
  	background: linear-gradient(0deg, #0059ab 0%, #0468c4 100%);
  	box-shadow: 0 1px 0 0 #024e95;
  	color: #fff;
  	font-size: 15px;
  	font-weight: 600;
  	line-height: 18px;
  	text-align: center;
  }
  .params {
    display: flex;
    flex-direction: row;
  }
}
