.Input-container {
  .search {
    border: none;
    color: gray;
    font-size: 20px;
  }
  .search {
  	height: 18px;
  	width: 79px;
  	opacity: 0.34;
  	color: #78909c;
  	font-size: 15px;
  	line-height: 18px;
    width: 200px;
    position: relative;
    top: -3px;
  }
  .search:focus {
    outline-style: none;
    color: #000;
  }
}

.input-text-contract {
  margin: 7px 0 24px 0;
  padding: 9px 14px;
  height: 36px;
  width: 100%;
  border: 1px solid #dfe3e9;
  border-radius: 4px;
  background-color: #fff;
}

.input-textarea-contract {
  margin: 7px 0 24px 0;
  padding: 9px 14px;
  height: 117px;
  width: 100%;
  border: 1px solid #dfe3e9;
  border-radius: 4px;
  background-color: #fff;
}

.input-text-contract-param {
  margin: 7px 10px 24px 0;
  padding: 9px 14px;
  height: 36px;
  border: 1px solid #dfe3e9;
  border-radius: 4px;
  background-color: #fff;
}
