.Sidebar-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 250px;
  background-color: #273142;
  color: #fff;
  flex-flow: column;
  .Sidebar {
    background-color: red;
  }
  .identicon {

  }
  .divider {
  	height: 1px;
  	width: 100%;
  	background-color: #3e4a5c;
  }
  .emptybar {
    flex-grow: 1;
  }
}
