.information {
  padding: 33px 50px;
  background: #fff;
  display: inline-flex;
  .information-box {
    flex: 7;
    font-size: 15px;
    line-height: 23px;
  }
  .dispute-information {
    padding-left: 10%;
    flex: 3;
    .statistic {
      display: flex;
      margin-bottom: 23px;
      .title {
        flex: 6;
      }
      .value {
        flex: 6;
        font-size: 16px;
        font-weight: 600;
        line-height: 19px;
      }
    }
  }
}
