.dispute-resolution {
  width: 100%;
  color: #1B2431;
  h2 {
    text-transform: uppercase;
  	height: 19px;
  	opacity: 0.78;
  	font-family: "Proxima Nova";
  	font-size: 16px;
  	font-weight: 600;
  	letter-spacing: 1px;
  	line-height: 19px;
  }
}
