.ItemMenuSidebar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #273142;
  color: #fff;
  padding: 15px 0 15px 34px;
  .icon {

  }
  .name {
    padding-left: 20px;
  }
}

.dark {
  background-color: #273142;
  .title {
    color: #fff;
  }
}
