.MenuSidebar-container {
  display: flex;
  flex-direction: column;
  width: 250px;
  background-color: #273142;
  color: #fff;
  .item {
  }
}

.dark {
  background-color: #273142;
  .title {
    color: #fff;
  }
}
