.Grid-container {
  .grid {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    .header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background-color: #eaeef0;
      border: 1px solid #eaeef0;
      border-radius: 4px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      padding: 12px 40px;
      .header-item {
        color: #7f8fa4;
        font-weight: 600;
        width: 11vw;
      }
    }
    .grid-content {
      display: flex;
      flex-direction: column;
      background-color: #fff;
      .items {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: #fff 1px solid;
        padding: 12px 40px;
        .items-row {
          display: flex;
          flex-direction: row;
          .item-project {
            display: flex;
            flex-direction: column;
          }
          .item {
          }
        }
      }
      .items:first-child {
        border-top: none;
      }
      .items:last-child {
        border-bottom: 1px #d8d8d8;
      }
    }
  }
}
