.GridContent-container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  .items {
    display: flex;
    flex-direction: column;
    a {
      text-decoration: none;
      color: inherit;
    }
    .items-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border-bottom: 1px solid rgba(216, 216, 216, 0.8);
      &:last-child {
        border: none;
      }
      &:hover {
        background-color: rgba(216, 216, 216, 0.15);
        cursor: pointer;
      }
      .item-no-disputes {
        font-size: 18px;
        text-align: center;
        width: 100%;
      }
      .item-project {
        display: flex;
        flex-direction: column;
        .item-title {
          font-size: 16px;
          font-weight: bold;
        }
        .item-category {
          padding-top: 4px;
          font-size: 14px;
        }
      }
      .item {
        padding: 20px 0;
      }
      .item-project {
        padding-left: 40px;
        width: 35%;
      }
      .item-deadline {
        width: 25%;
        font-size: 14px;
        font-weight: 600;
        color: #7f8fa4;
      }
      .item-case_id {
        width: 25%;
        font-size: 14px;
      }
      .item-status {
        width: 25%;
        font-size: 14px;
        padding-right: 40px;
      }
    }
  }

  .loader {
    padding: 20px 40px;
  }

  .pagination-footer {
    padding: 10px 10px;
    background: #eaeef0;
  }
  .pagination-container {

    padding-left: 1em;
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
    box-sizing: border-box;
    border-style: solid;
    > li {
      display: inline;
      -webkit-box-sizing: border-box;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      border-style: solid;
      cursor: pointer;
      border-width: 1px;
      padding: 0.3em;
      color: black;
      background:white;
      padding: 5px 10px;
      border-color: #777;

      &:hover {
        background: #eaeef0;
      }
      .pagerInput {
        input[type="number"] {
          font-size: 13px;
          color: #777;
        }
        &:hover {
          background: white;
          cursor: default;
        }
      }
      span {
        color: black;
      }
      &.first {
        border-bottom-left-radius: 4px;
        border-top-left-radius: 4px;
      }
      &.last {
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;
        border-right: 1px solid #777;
      }
      &.disabled {
        cursor: not-allowed!important;
        background: linear-gradient(to bottom, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
      }
    }
  }
}