.GridContent-container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  .items {
    display: flex;
    flex-direction: column;
    a {
      text-decoration: none;
      color: inherit;
    }
    .items-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border-bottom: 1px solid rgba(216, 216, 216, 0.8);
      &:last-child {
        border: none;
      }
      &:hover {
        background-color: rgba(216, 216, 216, 0.15);
        cursor: pointer;
      }
      .item-no-disputes {
        font-size: 18px;
        text-align: center;
        width: 100%;
      }
      .item-project {
        display: flex;
        flex-direction: column;
        .item-title {
          font-size: 16px;
          font-weight: bold;
        }
        .item-category {
          padding-top: 4px;
          font-size: 14px;
        }
      }
      .item {
        padding: 20px 0;
      }
      .item-project {
        padding-left: 40px;
        width: 35%;
      }
      .item-deadline {
        width: 25%;
        font-size: 14px;
        font-weight: 600;
        color: #7f8fa4;
      }
      .item-case_id {
        width: 25%;
        font-size: 14px;
      }
      .item-status {
        width: 25%;
        font-size: 14px;
        padding-right: 40px;
      }
    }
  }

  .loader {
    padding: 20px 40px;
  }
}
