.dispute-resolution {
  color: #1b2431;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  .content {
    padding: 37px 50px;
  }
  h2 {
    margin-bottom: 31px;
    text-transform: uppercase;
    color: rgba(27, 36, 49, 0.78);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 19px;
  }
  .divider {
    height: 1px;
    width: 100%;
    background-color: rgba(216, 216, 216, 0.38);
  }
}
