.EvidenceTable {
  .actionDiv {
  	font-family: "Proxima Nova";
  	font-size: 16px;
  	font-weight: 600;
  	line-height: 19px;
    text-align: center;
    cursor: pointer;
    margin-top: 26px;
  }
}
