.GridContent-container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  .items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: #fff 1px solid;
    padding: 12px 40px;
    .items-row {
      display: flex;
      flex-direction: row;
      .item-project {
        display: flex;
        flex-direction: column;
      }
      .item {
      }
    }
  }
  .items:first-child {
    border-top: none;
  }
  .items:last-child {
    border-bottom: 1px #d8d8d8;
  }
}
