.GridContent-container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  .items {
    display: flex;
    flex-direction: column;
    a {
      text-decoration: none;
      color: inherit;
    }
    .items-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border-bottom: 1px solid rgba(216, 216, 216, 0.8);
      &:last-child {
        border: none;
      }
      &:hover {
        background-color: rgba(216, 216, 216, 0.15);
        cursor: pointer;
      }
      .item {
        padding: 20px 0;
      }
      .item-contract-hash {
        padding: 20px 0 0 40px;
        width: 35%;
        font-size: 14px;
      }
      .item-party-a {
        width: 25%;
        font-size: 14px;
      }
      .item-party-b {
        width: 25%;
        font-size: 14px;
      }
      .item-fee-party {
        width: 20%;
        font-size: 14px;
      }
      .item-rule {
        width: 15%;
        font-size: 14px;
      }
      .item-status {
        width: 25%;
        font-size: 14px;
        padding-right: 40px;
      }
    }
  }

  .loader {
    padding: 20px 40px;
  }
}
