.Form-container {
  .input-container {
    padding: 25px 0px;
  }
  .amount-container {
    margin-top: 15px;
  }
  .button-container {
    button {
      height: 40px;
    	width: 180px;
      border: none;
    	border-radius: 4px;
    	background: linear-gradient(0deg, #0059ab 0%, #0468c4 100%);
    	box-shadow: 0 1px 0 0 #024e95;
    	color: #fff;
    	font-size: 15px;
    	font-weight: 600;
    	line-height: 18px;
    	text-align: center;
    }
    margin-top: 34px;
  }
}
