.Form-container {
  .input-container {
    padding: 25px 0px;
  }
  .resolution-option {
    display: inline-flex;
    input[type=radio] {
      height: 25px;
      width: 25px;
      border: 1px solid #e6ecef;
      border-radius: 3px;
      background-color: #fff;
      margin-right: 13px;
    }
    .option-information {
      h2 {
        text-transform: none;
        margin-bottom: 4px;
        font-size: 16px;
        font-weight: 600;
        line-height: 19px;
      }
      p {
        color: rgba(27, 36, 49, 0.58);
        font-size: 14px;
        line-height: 17px;
      }
    }
  }
  .description-container {
    h2 {
      margin-bottom: 0;
      padding: 45px 0px;
    }
  }
  .upload-container {
    input[type=file] {
      display: none;
    }
    .upload-button {
      padding: 32px;
      box-sizing: border-box;
      border: 1px dashed rgba(119,144,157,0.5);
      border-radius: 6px;
      background-color: rgba(246,246,246,0.13);
      text-align: center;
      cursor: pointer;
      font-size: 16px;
      line-height: 19px;
    }
  }
  .button-container {
    button {
      height: 60px;
      width: 350px;
      border-radius: 4px;
      background: linear-gradient(0deg, #0059ab 0%, #0468c4 100%);
      box-shadow: 0 1px 0 0 #024e95;
    }
    margin-top: 34px;
  }
}
