.Disputes-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  .content {
    padding: 37px 50px;;
  }
  h1 {
  	color: #1B2431;
  	font-size: 24px;
  	line-height: 29px;
    margin-bottom: 22px;
  }
}
